body {
    background-color: black !important;
    background-image: url(/bg.jpg) !important;
    background-position-y: 90% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

* {
    overflow-x: hidden;
}
